<div class="contenedor">
    <h1><%= nombrePagina %></h1>

    <% if (news.length > 0 ) { %>
    <div  class="grid columnas-md-3 ">
        <% news.forEach(neww => { %>
            <div class="card">
                <% if(neww.imagen) { %>
                    <img style="padding: 0.1rem;"  src="/MaterialesNexus/archivos/uploads/news/<%= neww.imagen %>" >
                <% } else { %>
                    <img src="/MaterialesNexus/archivos/img/tecnologia_<%= neww.categoriaId %>.png">
                <% } %>
                <div class="card-texto">
                    <a href="/news/<%= neww.id %>">
                        <h3><%= neww.nombre%> </h3>
                    </a>
                    <div class="info-autor">
                        <% if(neww.usuario.imagen ) { %>
                            <div class="imagen">
                                <img src="/MaterialesNexus/archivos/uploads/profiles/<%=neww.usuario.imagen %>">
                            </div>
                        <% } else { %>
                            <div class="imagen"></div>
                        <% } %>
                        
                        <div class="informacion">
                            <p>Creado por:</p>
                            <a href="/usuarios/<%= neww.usuario.id %>">
                                <p style="color: aliceblue;" class="autor"><%= neww.usuario.nombre %></p>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div><!--grid-->
    <% } else { %>
        <p>No hay Noticias en esta categoria</p>
    <% } %>
