
<div class="flex">
    <div class="hero">
        <h1 class="main_title">
            Bienvenido,
            <div class="title_text"">
                <span class="title_rotate">
                    Actualizate <br/>
                    Aprende <br/>
                    Y Comparte <br/>
                    en la Comunidad Nexus<br/>
                </span>
            </div>
        </h1>
    </div>
    <div class="contenedor ruta" >
        <h2 class="main__title">¡Conoce nuestra ruta de Aprendizaje!</h2>
        <div class="grid columnas-md-3 ruta " style="color: white; font-size:18px">
            <p>NEXUS es una plataforma web educativa diseñada para facilitar y potenciar el aprendizaje en tecnologías del stack JavaScript, ofreciendo cursos interactivos, noticias relevantes y espacios de colaboración activa. Al unirte a NEXUS, formarás parte de una comunidad vibrante de estudiantes y desarrolladores, donde podrás aprender de manera estructurada, aplicar conocimientos en proyectos reales y compartir ideas con otros miembros, todo en un entorno que promueve el crecimiento continuo y la innovación. ¡Únete a NEXUS y comienza tu viaje hacia el éxito profesional hoy mismo!</p>
            <a href="/ruta" class="btn btn-cool">Ir a ruta</a>
        </div>
    </div>
    
    <div class="buscador-inicio">
        <div class="contenedor">
            <h2>¿Que quieres Aprender?</h2>
            <form action="/busqueda" method="GET">
                <select name="categoria">
                       <option value=""  selected>-- Todas</option>
                       <% categorias.forEach(categoria=>{ %>
                        <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                        <% }) %>
                </select>
                <input type="text" name="nombre" placeholder="Titulo Curso">
                <input type="submit" value="Buscar" class="btn btn-rosa">
            </form>
        </div>
    </div>
    
    
    
    <main class="bg-gris categorias">
        <h2 style="padding-bottom: 2rem;">Encuentra Noticias por Tecnología</h2>
    
        <div class="contenedor">
            <ul class="listado-categorias  grid columnas-2 columnas-md-3">
              <% categorias.forEach(categoria=>{ %>
                <li>
                    <a href="/categoria-news/<%= categoria.nombre %>">
                        <img src="/MaterialesNexus/archivos/img/tecnologia_<%= categoria.id %>.png" alt="">
                        <p style="text-align: center; color:white"><%= categoria.nombre %></p>
                    </a>
                </li>
                <% }) %>
            </ul>
        </div>
    </main>
    
    <div class="meeti-bg">
        <div class="contenedor meeti grid columnas-md-2">
            <section>
                <h3>Crea una Noticia</h3>
                <p>Comparte lo que te gusta o tu pasión con los demás, crea tu noticas hoy mismo sin costos</p>
            </section>
            <section>
                <h3>Únete a un Curso</h3>
                <p>Conoce personas con tus mismos gustos y pasiones, únete a un curso ya existente y recibe notificaciones sobre próximos eventos</p>
            </section>
        </div>
    </div>

</div>
