<div class="flex">
    <div class="hero2">
        <h1 class="main_title">
            Encuentra,
            <div class="title_text"">
                <span class="title_rotate">
                    Tu ruta <br/>
                    Tu ritmo <br/>
                    Tu aprendizaje <br/>
                    Tu camino<br/>
                </span>
            </div>
        </h1>
    </div>
    <div class="learning-path">
        <!-- JavaScript -->
        <div class="card-ruta js">
          <h3>JavaScript</h3>
          <p class="italic"> Impulsa tus habilidades y transforma la web.</p>
          <p>
           Impulsa tus habilidades y transforma la web.
            JavaScript es un lenguaje esencial para la creación de sitios web interactivos y dinámicos. 
Con él, puedes agregar funcionalidades avanzadas, como formularios interactivos, animaciones y 
respuestas en tiempo real, mejorando la experiencia del usuario en tu página.
          </p>
          <h4 ><strong>Características:</strong></h4>
          <ul>
            <li><strong>Versatilidad:</strong> Usado tanto en el frontend como en el backend (Node.js).</li>
            <li><strong>Alta demanda:</strong> Uno de los lenguajes más solicitados en la industria.</li>
            <li><strong>Comunidad activa: </strong>Amplio soporte y recursos disponibles en línea.</li>
            <li> <strong>Interactividad:</strong>  Permite crear experiencias web envolventes y atractivas.</li>
          </ul>
          <p class="italic">¡Comienza hoy y lleva tu desarrollo web al siguiente nivel!</p>
          <button  class="btn-ruta">
          <a style="color: white;" href="/categoria-courses/<%= categorias[0].nombre %>">Aprender JavaScript</a></button>
        </div>
      
        <!-- CSS -->
        <div class="card-ruta css">
          <h3>CSS</h3>
          <p>
            CSS se utiliza para dar estilo y diseño a las páginas web, 
            incluyendo colores, tipografía y disposición. Junto con HTML 
            y JavaScript, forma la base del desarrollo web.
          </p>
          <h4><strong>Características:</strong></h4>
          <ul>
            <li>Responsive Design</li>
            <li>Flexbox y Grid</li>
            <li>Animaciones avanzadas</li>
          </ul>
          <button  class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[6].nombre %>">Aprender CSS</a></button>
        </div>
      
        <!-- Angular -->
        <div class="card-ruta angular">
          <h3>Angular</h3>
          <p>
            Framework desarrollado por Google que permite crear aplicaciones 
            web dinámicas y escalables, especialmente útiles para proyectos grandes.
            <h4><strong>Características:</strong></h4>
          <ul>
            <li>Arquitectura basada en componentes</li>
            <li>TypeScript como lenguaje base</li>
            <li>Soporte para RxJS</li>
          </ul>
          <button  class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[3].nombre %>">Aprender Angular</a></button>
        </div>
      
        <!-- React -->
        <div class="card-ruta react">
          <h3>React</h3>
          <p>
            Librería desarrollada por Meta para construir interfaces de usuario 
            basadas en componentes reutilizables. Ideal para aplicaciones web interactivas.
          </p>
          <h4><strong>Características:</strong></h4>
          <ul>
            <li>Virtual DOM para un rendimiento óptimo</li>
            <li>Uso de Hooks</li>
            <li>Integración fácil con otros sistemas</li>
          </ul>
          <button  class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[2].nombre %>">Aprender React</a></button>
        </div>
      
        <!-- Node.js -->
        <div class="card-ruta node">
          <h3>Node.js</h3>
          <p>
            Entorno de ejecución para JavaScript en el servidor. Permite 
            construir aplicaciones escalables y manejadas por eventos.
          </p>
          <h4><strong>Características:</strong></h4>
          <ul>
            <li>APIs rápidas y eficientes</li>
            <li>Soporte para aplicaciones en tiempo real</li>
            <li>Uso de paquetes con npm</li>
          </ul>
          <button  class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[1].nombre %>">Aprender Node</a></button>
        </div>
 <!-- Express -->
 <div class="card-ruta express">
    <h3>Express</h3>
    <p>
      Framework minimalista para Node.js que facilita la creación de servidores
      y APIs RESTful.
      Qué es: Framework minimalista para Node.js.
    Características principales: Enrutamiento, middlewares, y manejo de peticiones.
    Usos comunes: APIs RESTful, manejo de sesiones y autenticación.
    Herramientas esenciales: Postman, Morgan.
    </p>
    <button  class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[4].nombre %>">Aprender Express</a></button>
  </div>

  <!-- MongoDB -->
  <div class="card-ruta mongodb">
    <h3>MongoDB</h3>
    <p>
        Base de datos NoSQL orientada a documentos. Utiliza JSON para almacenar datos.
        Qué es: Base de datos orientada a documentos.
        Características principales: JSON-like, escalabilidad horizontal.
        Usos comunes: Almacenamiento de datos en aplicaciones web y móviles.
        Herramientas esenciales: MongoDB Compass, Mongoose.
    </p>
    <button class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[5].nombre %>">Aprender MongoDB</a></button>
  </div>
</div>

      </div>
      