<div class="flex">
    <div class="hero2">
        <h1 class="main_title">
            Encuentra,
            <div class="title_text"">
                <span class="title_rotate">
                    Tu ruta <br/>
                    Tu ritmo <br/>
                    Tu aprendizaje <br/>
                    Tu camino<br/>
                </span>
            </div>
        </h1>
    </div>
    <div class="learning-path">
        <!-- JavaScript -->
        <div class="card-ruta js">
          <h3>JavaScript</h3>
          <p class="italic"> Impulsa tus habilidades y transforma la web.</p>
          <p>
          Impulsa tus habilidades y transforma la web.
          JavaScript es un lenguaje esencial para la creación de sitios web interactivos y dinámicos. 
          Con él, puedes agregar funcionalidades avanzadas, como formularios interactivos, animaciones y 
        respuestas en tiempo real, mejorando la experiencia del usuario en tu página.
          </p>
          <h4 ><strong>Características:</strong></h4>
          <ul>
            <li><strong>Versatilidad:</strong> Usado tanto en el frontend como en el backend (Node.js).</li>
            <li><strong>Alta demanda:</strong> Uno de los lenguajes más solicitados en la industria.</li>
            <li><strong>Comunidad activa: </strong>Amplio soporte y recursos disponibles en línea.</li>
            <li> <strong>Interactividad:</strong>  Permite crear experiencias web envolventes y atractivas.</li>
          </ul>
          <p class="italic">¡Comienza hoy y lleva tu desarrollo web al siguiente nivel!</p>
          <button  class="btn-ruta">
          <a style="color: white;" href="/categoria-courses/<%= categorias[0].nombre %>">Aprender JavaScript</a></button>
        </div>
      
        <!-- CSS -->
        <div class="card-ruta css">
          <h3>CSS</h3>
          <p class="italic"> Dale vida a tus diseños web con CSS. Mejora tus habilidades y crea sitios web impresionantes.</p>
          <p>
            CSS es fundamental para el diseño y la presentación de sitios web. Con él, puedes controlar el layout, los colores, las fuentes y otros aspectos visuales, mejorando la apariencia y usabilidad de tu página.
          </p>
          <h4 ><strong>Características:</strong></h4>
          <ul>
            <li><strong>Estilo y diseño:</strong>  Define la apariencia de tu sitio web.</li>
            <li><strong>Flexibilidad:</strong>  Separa el contenido de la presentación.</li>
            <li><strong>Eficiencia: </strong>Aplica estilos a múltiples páginas desde un solo archivo.</li>
            <li> <strong>Compatibilidadividad:</strong>  Funciona con HTML y XML.</li>
          </ul>
          <p class="italic">¡Transforma tus ideas en diseños impresionantes con CSS!</p>
          
          <button  class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[6].nombre %>">Aprender CSS</a></button>
        </div>
      
        <!-- Angular -->
        <div class="card-ruta angular">
          <h3>Angular</h3>
          <p class="italic"> Desarrolla aplicaciones web modernas con Angular. Potencia tus habilidades y crea aplicaciones robustas.</p>
          <p>
            Angular es un framework poderoso para construir aplicaciones web escalables y de alto rendimiento. Con su arquitectura basada en componentes, facilita el desarrollo y mantenimiento de proyectos complejos.
          </p>
          <h4 ><strong>Características:</strong></h4>
          <ul>
            <li><strong>Componentes reutilizables:</strong>  Facilita la organización del código.</li>
            <li><strong>Herramientas integradas:</strong>Incluye enrutamiento, formularios y más.</li>
            <li><strong>Desempeño: </strong>Optimiza la eficiencia de las aplicaciones.</li>
            <li> <strong>Soporte de Google:</strong>  Mantenido y actualizado por Google.</li>
          </ul>
          <p class="italic">¡Crea aplicaciones web de última generación con Angular!</p>
          
          <button  class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[3].nombre %>">Aprender Angular</a></button>
        </div>
      
        <!-- React -->
        <div class="card-ruta react">
          <h3>React</h3>
          <p class="italic">Construye interfaces de usuario interactivas con React. Desarrolla tus habilidades y crea experiencias únicas.</p>
          <p>
            React es una biblioteca de JavaScript para construir interfaces de usuario dinámicas y eficientes. Con su enfoque en componentes reutilizables y el Virtual DOM, mejora significativamente el rendimiento de las aplicaciones web.
          </p>
          <h4 ><strong>Características:</strong></h4>
          <ul>
            <li><strong>Componentes reutilizables:</strong>  Facilita la creación de interfaces complejas.</li>
            <li><strong>Virtual DOM:</strong>  Mejora el rendimiento y la eficiencia.</li>
            <li><strong>Popularidad: </strong>Amplio uso y soporte en la industria.</li>
            <li> <strong>React Native:</strong> Extiende el desarrollo a aplicaciones móviles.</li>
          </ul>
          <p class="italic">¡Desarrolla experiencias de usuario excepcionales con React!</p>

          <button  class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[2].nombre %>">Aprender React</a></button>
        </div>
      
        <!-- Node.js -->
        <div class="card-ruta node">
          <h3>Node.js</h3>
          <p class="italic">Lleva tus aplicaciones al siguiente nivel con Node.js. Mejora tus habilidades y crea aplicaciones rápidas.</p>
          <p>
            Node.js permite ejecutar JavaScript en el servidor, ofreciendo un entorno de ejecución rápido y eficiente. Ideal para aplicaciones en tiempo real, Node.js maneja múltiples conexiones simultáneas con alto rendimiento.
          </p>
          <h4 ><strong>Características:</strong></h4>
          <ul>
            <li><strong>Rendimiento:</strong>Basado en el motor V8 de Google Chrome.</li>
            <li><strong>Escalabilidad:</strong> Maneja muchas conexiones simultáneas.</li>
            <li><strong>Ecosistema: </strong> Gran cantidad de módulos y bibliotecas disponibles.</li>
            <li> <strong>Tiempo real:</strong>  Perfecto para servidores web y APIs.</li>
          </ul>
          <p class="italic">¡Impulsa el desarrollo de tus aplicaciones con Node.js!</p>

          <button  class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[1].nombre %>">Aprender Node</a></button>
        </div>
 <!-- Express -->
 <div class="card-ruta express">
    <h3>Express</h3>
    <p class="italic">Simplifica el desarrollo de tus aplicaciones con Express. Potencia tus habilidades y crea servidores eficientes.</p>
          <p>
            Express es un framework minimalista para Node.js que simplifica la creación de aplicaciones web y APIs. Con su diseño ligero y flexible, permite desarrollar aplicaciones de manera rápida y eficiente..
          </p>
          <h4 ><strong>Características:</strong></h4>
          <ul>
            <li><strong>Simplicidad:</strong>Facilita la gestión de solicitudes y respuestas HTTP.</li>
            <li><strong>Flexibilidad:</strong>  Integración con middleware para diversas tareas.
              Rendimiento: Aprovecha al máximo las capacidades de Node.js.</li>
            <li><strong>Rendimiento: </strong>Amplio soporte y recursos disponibles en línea.</li>
            <li> <strong>Popularidad:</strong> Amplio uso en la industria.</li>
          </ul>
          <p class="italic">¡Desarrolla aplicaciones web rápidas y eficientes con Express!
          </p>

    <button  class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[4].nombre %>">Aprender Express</a></button>
  </div>

  <!-- MongoDB -->
  <div class="card-ruta mongodb">
    <h3>MongoDB</h3>
    <p class="italic"> Optimiza la gestión de datos con MongoDB. Mejora tus habilidades y maneja grandes volúmenes de datos.</p>
    <p>
      MongoDB es una base de datos NoSQL que utiliza un formato de datos similar a JSON. Con su escalabilidad horizontal y capacidad para manejar grandes volúmenes de datos, es ideal para aplicaciones modernas.
    </p>
    <h4 ><strong>Características:</strong></h4>
    <ul>
      <li><strong>Flexibilidad:</strong> Almacena datos en documentos flexibles.</li>
      <li><strong>Escalabilidad:</strong>Maneja grandes volúmenes de datos eficientemente.</li>
      <li><strong>Consultas: </strong> Potentes capacidades de consulta e indexación.</li>
      <li> <strong>Alta disponibilidad:</strong> : Ideal para aplicaciones que requieren rendimiento.</li>
    </ul>
    <p class="italic">¡Gestiona tus datos de manera eficiente con MongoDB!</p>

    <button class="btn-ruta">  <a style="color: white;" href="/categoria-courses/<%= categorias[5].nombre %>">Aprender MongoDB</a></button>
  </div>
</div>

      </div>
      